---
ClassId: uuidpool.Pool
Name: {{prefix}}uuid
Organization: {{organization}}
Prefix: {{uuid_prefix}}
UuidSuffixBlocks:
- ClassId: uuidpool.UuidBlock
  From: {{uuid_block_from}}
  Size: {{uuid_block_size}}
---
ClassId: resourcepool.Pool
Name: {{prefix}}serverPool
Organization: {{organization}}
ResourcePoolParameters:
  ClassId: resourcepool.ServerPoolParameters
  ManagementMode: Intersight
  ObjectType: resourcepool.ServerPoolParameters
ResourceType: Server
Selectors:
#- ClassId: resource.Selector
#  Selector: /api/v1/compute/Blades?$filter=(Serial in ({{server_serials}}))

# InbandPool

#ClassId: ippool.Pool
#Name: {{prefix}}inbandPool
#Organization: {{organization}}
#IpV4Config:
#  ClassId: ippool.IpV4Config
#  Gateway: {{ip_gateway}}
#  Netmask: {{ip_netmask}}
#  PrimaryDns: {{ip_primary_dns}}
#  SecondaryDns: {{ip_secondary_dns}}
#IpV4Blocks:
#- ClassId: ippool.IpV4Block
#  From: {{ip_block_from}}
#  To: {{ip_block_to}}
