---
ClassId: storage.StoragePolicy
Name: {{prefix}}fi-control-M.2
Organization: {{organization}}
#settings
M2VirtualDrive:
  ClassId: storage.M2VirtualDriveConfig
  ObjectType: storage.M2VirtualDriveConfig
  Enable: true
  ControllerSlot: MSTOR-RAID-1
UnusedDisksState: Jbod
---
ClassId: vnic.EthNetworkPolicy
Name: {{prefix}}fi-control-Trunk
Organization: {{organization}}
#settings
VlanSettings:
  ClassId: vnic.VlanSettings
  ObjectType: vnic.VlanSettings
  AllowedVlans: {{AllowedVlans}}
  DefaultVlan: {{DefaultVLAN}}
  Mode: {{TrunkMode}}
---
ClassId: vnic.EthIf
Name: Eth0
#settings
FailoverEnabled: true
EthAdapterPolicy: MoRef[{{organization}}\{{prefix}}fi-control-Linux]
EthNetworkPolicy: MoRef[{{organization}}\{{prefix}}fi-control-Trunk]
EthQosPolicy: MoRef[{{organization}}\{{prefix}}fi-control-QOS-server]
FabricEthNetworkControlPolicy: MoRef[{{organization}}\{{prefix}}fi-control-LLDP]
FabricEthNetworkGroupPolicy: 
  - MoRef[{{organization}}\{{prefix}}fi-control-ALLOWED-VLANS]
LanConnectivityPolicy: MoRef[{{organization}}\{{prefix}}fi-control-LAN]
MacPool: MoRef[{{organization}}\{{prefix}}macA]
MacAddressType: "POOL"
Order: 0
Placement:
  ClassId: vnic.PlacementSettings
  AutoSlotId: true
  SwitchId: A
---
ClassId: vnic.EthIf
Name: Eth1
#settings
FailoverEnabled: true
EthAdapterPolicy: MoRef[{{organization}}\{{prefix}}fi-control-Linux]
EthNetworkPolicy: MoRef[{{organization}}\{{prefix}}fi-control-Trunk]
EthQosPolicy: MoRef[{{organization}}\{{prefix}}fi-control-QOS-server]
FabricEthNetworkControlPolicy: MoRef[{{organization}}\{{prefix}}fi-control-LLDP]
FabricEthNetworkGroupPolicy: 
  - MoRef[{{organization}}\{{prefix}}fi-control-ALLOWED-VLANS]
LanConnectivityPolicy: MoRef[{{organization}}\{{prefix}}fi-control-LAN]
MacPool: MoRef[{{organization}}\{{prefix}}macB]
MacAddressType: "POOL"
Order: 0
Placement:
  ClassId: vnic.PlacementSettings
  AutoSlotId: true
  SwitchId: B
---
ClassId: boot.PrecisionPolicy
Name: {{prefix}}fi-control-Boot
Organization: {{organization}}
#settings
BootDevices:
- Bootloader:
  ObjectType: boot.LocalDisk
  Enabled: {{BootLocalDiskEnabled}}
  Name: M2
  Slot: MSTOR-RAID
- ObjectType: boot.VirtualMedia
  Enabled: {{bootVMedia}}
  Name: CIMC-DVD
  Subtype: cimc-mapped-dvd
---
ClassId: ipmioverlan.Policy
Name: {{prefix}}fi-control-IPMI
Organization: {{organization}}
#settings
Enabled: {{EnableIPMI}}
---
ClassId: kvm.Policy
Name: {{prefix}}fi-control-TunneledKVM
Organization: {{organization}}
#settings
TunneledKvmEnabled: {{AllowTunneledKVM}}
---
ClassId: bios.Policy
Name: {{prefix}}fi-control-BIOS
Organization: {{organization}}
---
ClassId: vnic.LanConnectivityPolicy
Name: {{prefix}}fi-control-LAN
Organization: {{organization}}
#settings
TargetPlatform: FIAttached
---
ClassId: fabric.EthNetworkGroupPolicy
Name: {{prefix}}fi-control-ALLOWED-VLANS
Organization: {{organization}}
VlanSettings:
  ClassId: fabric.VlanSettings
  AllowedVlans: {{AllowedVlans}}
  QinqEnabled: false
  NativeVlan: 1
---
ClassId: fabric.EthNetworkControlPolicy
Name: {{prefix}}fi-control-LLDP
Organization: {{organization}} 
#settings
CdpEnabled: {{CdpEnabled}}
ForgeMac: {{ForgeMac}}
LldpSettings:
  ClassId: fabric.LldpSettings
  ReceiveEnabled: {{LldpReceiveEnabled}}
  TransmitEnabled: {{LldpTransmitEnabled}}
MacRegistrationMode: {{MacRegistrationMode}}
UplinkFailAction: {{UplinkFailAction}}
---
ClassId: iam.EndPointUserPolicy
Organization: {{organization}}
Name: {{prefix}}fi-control-LocalAdmin
#settings
PasswordProperties:
  ClassId: iam.EndPointPasswordProperties
  EnablePasswordExpiry: {{EnablePasswordExpiry}}
  EnforceStrongPassword: {{EnforceStrongPassword}}
  ForceSendPassword: {{ForceSendPassword}}
  GracePeriod: {{GracePeriod}}
  NotificationPeriod: {{NotificationPeriod}}
  PasswordExpiryDuration: {{PasswordExpiryDuration}}
  PasswordHistory: {{PasswordHistory}}
---
ClassId: iam.EndPointUser
Organization: {{organization}}
Name: admin
---
ClassId: iam.EndPointUserRole
#settings
Enabled: {{UserRoleEnabled}}
EndPointRole: 
  - MoRef:iam.EndPointRole[$filter:Type eq 'IMC' and Name eq 'admin']
EndPointUser: MoRef[{{organization}}\admin]
EndPointUserPolicy: MoRef[{{organization}}\{{prefix}}fi-control-LocalAdmin]
Password: {{AdminPassword}}
---
ClassId: firmware.Policy
Name: {{prefix}}fi-control-Firmware
Organization: {{organization}}
#settings
ModelBundleCombo:
- BundleVersion: {{FirmwareBundleVersion}}
  ClassId: firmware.ModelBundleVersion
  ModelFamily: {{FirmwareModelFamily}}
  ObjectType: firmware.ModelBundleVersion
TargetPlatform: {{FirmwareTargetPlatform}}
---
ClassId: vmedia.Policy
Name: {{prefix}}fi-control-vMedia
Organization: {{organization}}
#settings
Enabled: {{vMediaEnabled}}
Encryption: {{vMediaEncryption}}
LowPowerUsb: {{vMediaLowPowerUsb}}
Mappings: {{vMediaMappings}}
---
ClassId: vnic.EthQosPolicy
Name: {{prefix}}fi-control-QOS-server
Organization: {{organization}}
---
ClassId: sol.Policy
Name: {{prefix}}fi-control-SOL
Organization: {{organization}}
#settings
Enabled: {{Enabled}}
---
ClassId: ntp.Policy
Name: {{prefix}}fi-control-NTP
Organization: {{organization}}
#settings
Enabled: {{EnableNTP}}
NtpServers: {{NTPServer}}
---
ClassId: smtp.Policy
Name: {{prefix}}fi-control-SMTP
Organization: {{organization}}
#settings
Enabled: {{EnableSMTP}}
MinSeverity: {{SMTPMinSeverity}}
SenderEmail: {{SMTPSenderEmail}}
SmtpRecipients: {{SMTPRecipients}}
SmtpServer: {{SMTPServer}}
SmtpPort: {{SMTPPort}}
---
ClassId: ssh.Policy
Name: {{prefix}}fi-control-SSH
Organization: {{organization}}
#settings
Enabled: {{EnableSSH}}
Port: {{SSHPort}}
Timeout: {{SSHTimeout}}
---
ClassId: deviceconnector.Policy
Name: {{prefix}}fi-control-DeviceConnector
Organization: {{organization}}
#settings
IntersightOnly: off
---
ClassId: vnic.EthAdapterPolicy
Name: {{prefix}}fi-control-Linux
Organization: {{organization}}
#settings
AdvancedFilter: {{EthAdapterAdvancedFilter}}
ArfsSettings:
  ClassId: vnic.ArfsSettings
  Enabled: {{EthAdapterArfsEnabled}}
CompletionQueueSettings:
  ClassId: vnic.CompletionQueueSettings
  Count: {{EthAdapterCompletionQueueCount}}
  RingSize: {{EthAdapterCompletionQueueRingSize}}
GeneveEnabled: {{EthAdapterGeneveEnabled}}
InterruptScaling: {{EthAdapterInterruptScaling}}
InterruptSettings:
  ClassId: vnic.EthInterruptSettings
  CoalescingTime: {{EthAdapterInterruptCoalescingTime}}
  CoalescingType: {{EthAdapterInterruptCoalescingType}}
  Count: {{EthAdapterInterruptCount}}
  Mode: {{EthAdapterInterruptMode}}
NvgreSettings:
  ClassId: vnic.NvgreSettings
  Enabled: {{EthAdapterNvgreEnabled}}
PtpSettings:
  ClassId: vnic.PtpSettings
  Enabled: {{EthAdapterPtpEnabled}}
RoceSettings:
  ClassId: vnic.RoceSettings
  ClassOfService: {{EthAdapterRoceClassOfService}}
  Enabled: {{EthAdapterRoceEnabled}}
  MemoryRegions: {{EthAdapterRoceMemoryRegions}}
  QueuePairs: {{EthAdapterRoceQueuePairs}}
  ResourceGroups: {{EthAdapterRoceResourceGroups}}
  Version: {{EthAdapterRoceVersion}}
RssHashSettings:
  ClassId: vnic.RssHashSettings
  Ipv4Hash: {{EthAdapterRssIpv4Hash}}
  Ipv6ExtHash: {{EthAdapterRssIpv6ExtHash}}
  Ipv6Hash: {{EthAdapterRssIpv6Hash}}
  TcpIpv4Hash: {{EthAdapterRssTcpIpv4Hash}}
  TcpIpv6ExtHash: {{EthAdapterRssTcpIpv6ExtHash}}
  TcpIpv6Hash: {{EthAdapterRssTcpIpv6Hash}}
  UdpIpv4Hash: {{EthAdapterRssUdpIpv4Hash}}
  UdpIpv6Hash: {{EthAdapterRssUdpIpv6Hash}}
RssSettings: {{EthAdapterRssSettings}}
RxQueueSettings:
  ClassId: vnic.EthRxQueueSettings
  Count: {{EthAdapterRxQueueCount}}
  RingSize: {{EthAdapterRxQueueRingSize}}
TcpOffloadSettings:
  ClassId: vnic.TcpOffloadSettings
  LargeReceive: {{EthAdapterTcpLargeReceive}}
  LargeSend: {{EthAdapterTcpLargeSend}}
  RxChecksum: {{EthAdapterTcpRxChecksum}}
  TxChecksum: {{EthAdapterTcpTxChecksum}}
TxQueueSettings:
  ClassId: vnic.EthTxQueueSettings
  Count: {{EthAdapterTxQueueCount}}
  RingSize: {{EthAdapterTxQueueRingSize}}
UplinkFailbackTimeout: {{EthAdapterUplinkFailbackTimeout}}
VxlanSettings:
  ClassId: vnic.VxlanSettings
  Enabled: {{EthAdapterVxlanEnabled}}
---
ClassId: storage.StoragePolicy
Name: {{prefix}}fi-worker-M.2
Organization: {{organization}}
#settings
M2VirtualDrive:
  ClassId: storage.M2VirtualDriveConfig
  ObjectType: storage.M2VirtualDriveConfig
  Enable: true
  ControllerSlot: MSTOR-RAID-1
UnusedDisksState: Jbod
---
ClassId: vnic.EthNetworkPolicy
Name: {{prefix}}fi-worker-Trunk
Organization: {{organization}}
#settings
VlanSettings:
  ClassId: vnic.VlanSettings
  ObjectType: vnic.VlanSettings
  AllowedVlans: {{worker_AllowedVlans}}
  DefaultVlan: {{worker_DefaultVLAN}}
  Mode: {{worker_TrunkMode}}
---
ClassId: vnic.EthIf
Name: Eth0
#settings
FailoverEnabled: true
EthAdapterPolicy: MoRef[{{organization}}\{{prefix}}fi-worker-Linux]
EthNetworkPolicy: MoRef[{{organization}}\{{prefix}}fi-worker-Trunk]
EthQosPolicy: MoRef[{{organization}}\{{prefix}}fi-worker-QOS-server]
FabricEthNetworkControlPolicy: MoRef[{{organization}}\{{prefix}}fi-worker-LLDP]
FabricEthNetworkGroupPolicy: 
  - MoRef[{{organization}}\{{prefix}}fi-worker-ALLOWED-VLANS]
LanConnectivityPolicy: MoRef[{{organization}}\{{prefix}}fi-worker-LAN]
MacPool: MoRef[{{organization}}\{{prefix}}macA]
MacAddressType: "POOL"
Order: 0
Placement:
  ClassId: vnic.PlacementSettings
  AutoSlotId: true
  SwitchId: A
---
ClassId: vnic.EthIf
Name: Eth1
#settings
FailoverEnabled: true
EthAdapterPolicy: MoRef[{{organization}}\{{prefix}}fi-worker-Linux]
EthNetworkPolicy: MoRef[{{organization}}\{{prefix}}fi-worker-Trunk]
EthQosPolicy: MoRef[{{organization}}\{{prefix}}fi-worker-QOS-server]
FabricEthNetworkControlPolicy: MoRef[{{organization}}\{{prefix}}fi-worker-LLDP]
FabricEthNetworkGroupPolicy: 
  - MoRef[{{organization}}\{{prefix}}fi-worker-ALLOWED-VLANS]
LanConnectivityPolicy: MoRef[{{organization}}\{{prefix}}fi-worker-LAN]
MacPool: MoRef[{{organization}}\{{prefix}}macB]
MacAddressType: "POOL"
Order: 0
Placement:
  ClassId: vnic.PlacementSettings
  AutoSlotId: true
  SwitchId: B
---
ClassId: boot.PrecisionPolicy
Name: {{prefix}}fi-worker-Boot
Organization: {{organization}}
#settings
BootDevices:
- Bootloader:
  ObjectType: boot.LocalDisk
  Enabled: {{worker_BootLocalDiskEnabled}}
  Name: M2
  Slot: MSTOR-RAID
- ObjectType: boot.VirtualMedia
  Enabled: {{worker_bootVMedia}}
  Name: CIMC-DVD
  Subtype: cimc-mapped-dvd
---
ClassId: ipmioverlan.Policy
Name: {{prefix}}fi-worker-IPMI
Organization: {{organization}}
#settings
Enabled: {{worker_EnableIPMI}}
---
ClassId: kvm.Policy
Name: {{prefix}}fi-worker-TunneledKVM
Organization: {{organization}}
#settings
TunneledKvmEnabled: {{worker_AllowTunneledKVM}}
---
ClassId: bios.Policy
Name: {{prefix}}fi-worker-BIOS
Organization: {{organization}}
---
ClassId: vnic.LanConnectivityPolicy
Name: {{prefix}}fi-worker-LAN
Organization: {{organization}}
#settings
TargetPlatform: FIAttached
---
ClassId: fabric.EthNetworkGroupPolicy
Name: {{prefix}}fi-worker-ALLOWED-VLANS
Organization: {{organization}}
VlanSettings:
  ClassId: fabric.VlanSettings
  AllowedVlans: {{worker_AllowedVlans}}
  QinqEnabled: false
  NativeVlan: 1
---
ClassId: fabric.EthNetworkControlPolicy
Name: {{prefix}}fi-worker-LLDP
Organization: {{organization}} 
#settings
CdpEnabled: {{worker_CdpEnabled}}
ForgeMac: {{worker_ForgeMac}}
LldpSettings:
  ClassId: fabric.LldpSettings
  ReceiveEnabled: {{worker_LldpReceiveEnabled}}
  TransmitEnabled: {{worker_LldpTransmitEnabled}}
MacRegistrationMode: {{worker_MacRegistrationMode}}
UplinkFailAction: {{worker_UplinkFailAction}}
---
ClassId: iam.EndPointUserPolicy
Organization: {{organization}}
Name: {{prefix}}fi-worker-LocalAdmin
#settings
PasswordProperties:
  ClassId: iam.EndPointPasswordProperties
  EnablePasswordExpiry: {{worker_EnablePasswordExpiry}}
  EnforceStrongPassword: {{worker_EnforceStrongPassword}}
  ForceSendPassword: {{worker_ForceSendPassword}}
  GracePeriod: {{worker_GracePeriod}}
  NotificationPeriod: {{worker_NotificationPeriod}}
  PasswordExpiryDuration: {{worker_PasswordExpiryDuration}}
  PasswordHistory: {{worker_PasswordHistory}}
---
ClassId: iam.EndPointUser
Organization: {{organization}}
Name: admin
---
ClassId: iam.EndPointUserRole
#settings
Enabled: {{worker_UserRoleEnabled}}
EndPointRole: 
  - MoRef:iam.EndPointRole[$filter:Type eq 'IMC' and Name eq 'admin']
EndPointUser: MoRef[{{organization}}\admin]
EndPointUserPolicy: MoRef[{{organization}}\{{prefix}}fi-worker-LocalAdmin]
Password: {{worker_AdminPassword}}
---
ClassId: firmware.Policy
Name: {{prefix}}fi-worker-Firmware
Organization: {{organization}}
#settings
ModelBundleCombo:
- BundleVersion: {{worker_FirmwareBundleVersion}}
  ClassId: firmware.ModelBundleVersion
  ModelFamily: {{worker_FirmwareModelFamily}}
  ObjectType: firmware.ModelBundleVersion
TargetPlatform: {{worker_FirmwareTargetPlatform}}
---
ClassId: vmedia.Policy
Name: {{prefix}}fi-worker-vMedia
Organization: {{organization}}
#settings
Enabled: {{worker_vMediaEnabled}}
Encryption: {{worker_vMediaEncryption}}
LowPowerUsb: {{worker_vMediaLowPowerUsb}}
Mappings: {{worker_vMediaMappings}}
---
ClassId: vnic.EthQosPolicy
Name: {{prefix}}fi-worker-QOS-server
Organization: {{organization}}
---
ClassId: sol.Policy
Name: {{prefix}}fi-worker-SOL
Organization: {{organization}}
#settings
Enabled: {{worker_Enabled}}
---
ClassId: ntp.Policy
Name: {{prefix}}fi-worker-NTP
Organization: {{organization}}
#settings
Enabled: {{worker_EnableNTP}}
NtpServers: {{worker_NTPServer}}
---
ClassId: smtp.Policy
Name: {{prefix}}fi-worker-SMTP
Organization: {{organization}}
#settings
Enabled: {{worker_EnableSMTP}}
MinSeverity: {{worker_SMTPMinSeverity}}
SenderEmail: {{worker_SMTPSenderEmail}}
SmtpRecipients: {{worker_SMTPRecipients}}
SmtpServer: {{worker_SMTPServer}}
SmtpPort: {{worker_SMTPPort}}
---
ClassId: ssh.Policy
Name: {{prefix}}fi-worker-SSH
Organization: {{organization}}
#settings
Enabled: {{worker_EnableSSH}}
Port: {{worker_SSHPort}}
Timeout: {{worker_SSHTimeout}}
---
ClassId: deviceconnector.Policy
Name: {{prefix}}fi-worker-DeviceConnector
Organization: {{organization}}
#settings
IntersightOnly: off
---
ClassId: vnic.EthAdapterPolicy
Name: {{prefix}}fi-worker-Linux
Organization: {{organization}}
#settings
AdvancedFilter: {{worker_EthAdapterAdvancedFilter}}
ArfsSettings:
  ClassId: vnic.ArfsSettings
  Enabled: {{worker_EthAdapterArfsEnabled}}
CompletionQueueSettings:
  ClassId: vnic.CompletionQueueSettings
  Count: {{worker_EthAdapterCompletionQueueCount}}
  RingSize: {{worker_EthAdapterCompletionQueueRingSize}}
GeneveEnabled: {{worker_EthAdapterGeneveEnabled}}
InterruptScaling: {{worker_EthAdapterInterruptScaling}}
InterruptSettings:
  ClassId: vnic.EthInterruptSettings
  CoalescingTime: {{worker_EthAdapterInterruptCoalescingTime}}
  CoalescingType: {{worker_EthAdapterInterruptCoalescingType}}
  Count: {{worker_EthAdapterInterruptCount}}
  Mode: {{worker_EthAdapterInterruptMode}}
NvgreSettings:
  ClassId: vnic.NvgreSettings
  Enabled: {{worker_EthAdapterNvgreEnabled}}
PtpSettings:
  ClassId: vnic.PtpSettings
  Enabled: {{worker_EthAdapterPtpEnabled}}
RoceSettings:
  ClassId: vnic.RoceSettings
  Class OfService: {{worker_EthAdapterRoceClassOfService}}
  Enabled: {{worker_EthAdapterRoceEnabled}}
  MemoryRegions: {{worker_EthAdapterRoceMemoryRegions}}
  QueuePairs: {{worker_EthAdapterRoceQueuePairs}}
  ResourceGroups: {{worker_EthAdapterRoceResourceGroups}}
  Version: {{worker_EthAdapterRoceVersion}}
RssHashSettings:
  ClassId: vnic.RssHashSettings
  Ipv4Hash: {{worker_EthAdapterRssIpv4Hash}}
  Ipv6ExtHash: {{worker_EthAdapterRssIpv6ExtHash}}
  Ipv6Hash: {{worker_EthAdapterRssIpv6Hash}}
  TcpIpv4Hash: {{worker_EthAdapterRssTcpIpv4Hash}}
  TcpIpv6ExtHash: {{worker_EthAdapterRssTcpIpv6ExtHash}}
  TcpIpv6Hash: {{worker_EthAdapterRssTcpIpv6Hash}}
  UdpIpv4Hash: {{worker_EthAdapterRssUdpIpv4Hash}}
  UdpIpv6Hash: {{worker_EthAdapterRssUdpIpv6Hash}}
RssSettings: {{worker_EthAdapterRssSettings}}
RxQueueSettings:
  ClassId: vnic.EthRxQueueSettings
  Count: {{worker_EthAdapterRxQueueCount}}
  RingSize: {{worker_EthAdapterRxQueueRingSize}}
TcpOffloadSettings:
  ClassId: vnic.TcpOffloadSettings
  LargeReceive: {{worker_EthAdapterTcpLargeReceive}}
  LargeSend: {{worker_EthAdapterTcpLargeSend}}
  RxChecksum: {{worker_EthAdapterTcpRxChecksum}}
  TxChecksum: {{worker_EthAdapterTcpTxChecksum}}
TxQueueSettings:
  ClassId: vnic.EthTxQueueSettings
  Count: {{worker_EthAdapterTxQueueCount}}
  RingSize: {{worker_EthAdapterTxQueueRingSize}}
UplinkFailbackTimeout: {{worker_EthAdapterUplinkFailbackTimeout}}
VxlanSettings:
  ClassId: vnic.VxlanSettings
  Enabled: {{worker_EthAdapterVxlanEnabled}}